// COLORS
    // PRIMARY COLOR:
$primaryColorLight: #ffbb93;
$primaryColorMain: #ff8a65;
$primaryColorDark: #c75b39;
    // SECONDARY COLOR:
$secondaryColorLight: #ee98fb;
$secondaryColorMain: #ba68c8;
$secondaryColorDark:#883997;


$whiteColor: #fff;
$darkGrey: #333333;

// FONT

$fontFamily: 'Lato', sans-serif;

// FONT SIZE
$defaultFontSize: 1.6rem;
$bigFontSize: 4rem;
$midFontSize: 2.5rem;
